.title-red {
  color: red;
}
.desktop_hide {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}
.tablet_hide {
  @media (max-width: 1024px) {
    display: none;
  }
}

.brend_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 68px;
  padding: 0 2px;
  margin: 0 40px;
  background-color: $brend-green;
  cursor: pointer;
  text-transform: uppercase;
  word-spacing: 0.1em;
  @media (max-width: 480px) {
    height: 40px;
    margin: 0 22px;
  }
  span {
    display: block;
    width: max-content;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.2px;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
    @media (max-width: 480px) {
      font-size: 16px;
      letter-spacing: -0.96px;
    }
  }
  span::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $brend-dark;
    transition: 0.2s ease-in-out;
  }
  span::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $brend-dark;
    transition: 0.2s ease-in-out;
    transform: translateY(120%);
  }
}
.brend_btn:hover span:before {
  transform: translateY(-120%);
}
.brend_btn:hover span:after {
  transform: translateY(0%);
}
.brend_btn::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 1px;
  transform: translateX(-100%);
  display: block;
  height: 100%;
  width: 39px;
  height: 68px;
  background-image: url('../../assets/images/btn_decor.png');
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 480px) {
    width: 22px;
    height: 40px;
  }
}
.brend_btn::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 1px;
  transform: translateX(100%) rotate(180deg);
  display: block;
  height: 100%;
  width: 39px;
  height: 68px;
  background-image: url('../../assets/images/btn_decor.png');
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 480px) {
    width: 22px;
    height: 40px;
  }
}

.section_style {
  position: relative;
  z-index: 1;
  margin: 160px 0 0 0;
  @media (max-width: 768px) {
    margin: 120px 0 0 0;
  }
  @media (max-width: 480px) {
    margin: 100px 0 0 0;
  }
  .section_title {
    margin-bottom: 80px;
    font-weight: 600;
    word-spacing: 0.3em;
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.section_title {
  @include text-96-56-32;
}

.content {
  padding: 0 40px;
  @media (max-width: 768px) {
    padding: 0 32px;
  }
  @media (max-width: 480px) {
    padding: 0 16px;
  }
}

.swiper_navigation {
  display: flex;
  gap: 4px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 68px;
    background-image: url('../../assets/images/green_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 480px) {
      width: 46px;
      height: 40px;
      svg {
        width: 22px;
        height: 12px;
      }
    }
    svg {
      width: 30px;
      height: 16px;
    }
  }
  &__left {
    @media (min-width: 1024px) {
      &:hover {
        svg {
          animation: runLeftArrow 1.5s ease-out infinite;
        }
      }
    }
  }
  &__right {
    @media (min-width: 1024px) {
      &:hover {
        svg {
          animation: runRightArrow 1.5s ease-out infinite;
        }
      }
    }
  }
  .swiper-button-disabled {
    opacity: 0.2;
    svg {
      animation: none !important;
    }
  }
  .swiper-button-lock {
    opacity: 0.2;
    svg {
      animation: none !important;
    }
  }
}

// SECTION_TOP

.section_top {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 95);
  min-height: 650px;
  overflow: hidden;
  color: $brend-white;
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 50);
    background: linear-gradient(to bottom, rgba(10, 15, 19, 0.9), rgba(10, 15, 19, 0));
  }
  &__top_right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    color: $brend-white;
    div {
      position: absolute;
      right: 40px;
      bottom: 60px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1.2px;
      @media (max-width: 1600px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.96px;
      }
      @media (max-width: 768px) {
        right: 32px;
      }
      @media (max-width: 480px) {
        display: none;
      }
      span:last-child {
        font-size: 64px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -3.84px;
        @media (max-width: 1600px) {
          font-size: 42px;
          line-height: 100%;
          letter-spacing: -2.52px;
        }
      }
    }
    .top-right-decor {
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      width: max(338px, 23.95vw);
      height: auto;
      @media (max-width: 768px) {
        width: max(166px, 44.1vw);
      }
      @media (max-width: 600px) {
        width: max(172px, 56.33vw);
      }
    }
  }
  &__bottom_left {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
    color: $brend-white;
    .bottom-left-decor {
      position: relative;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: max(338px, 23.95vw);
      height: auto;
      opacity: 0;
      @media (max-width: 768px) {
        width: max(166px, 44.1vw);
      }
      @media (max-width: 600px) {
        width: max(172px, 56.33vw);
      }
    }
    .arrow_down {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.96px;
      cursor: pointer;

      &:hover {
        @media (min-width: 1024px) {
          svg {
            animation: downArrowAnim 1.5s linear infinite;
          }
        }
      }
      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 32px;
        background-image: url('../../assets/images/border.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
      }
    }
  }
  &__bottom_left_wrapper {
    position: absolute;
    z-index: 2;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    @media (max-width: 768px) {
      left: 32px;
    }
    @media (max-width: 480px) {
      left: 16px;
    }
    span {
      @include text-96-56-32;
      text-transform: uppercase;
    }
  }
  &__top_left {
    position: absolute;
    z-index: 2;
    top: 148px;
    left: 40px;
    @include text-96-56-32;
    word-spacing: 0.3em;
    text-transform: uppercase;
    color: $brend-white;
    @media (max-width: 768px) {
      top: 41.6vw;
      left: 32px;
    }
    @media (max-width: 480px) {
      left: 16px;
    }
  }
  &__bottom_right {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 40px;
    @include text-96-56-32;
    word-spacing: 0.3em;
    color: $brend-white;
    text-align: end;
    @media (max-width: 768px) {
      top: 64.53vw;
      left: 32px;
    }
    @media (max-width: 480px) {
      left: 16px;
    }
  }
  &__bottom_right_text_mob {
    display: none;
    word-spacing: 0.3em;
  }
  &__bottom_right_mob {
    display: none;
    word-spacing: 0.3em;
    @media (max-width: 480px) {
      position: absolute;
      z-index: 2;
      right: 16px;
      bottom: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      span:first-child {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.84px;
      }
      span:last-child {
        font-size: 32px;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -1.92px;
        text-transform: uppercase;
      }
    }
  }
}

// HOT_DEALS

.section_hot_deals {
  &__title.purple {
    span {
      background: $brend-purple;
    }
    span::before {
      background-image: url('../../assets/images/btn_decor_purple.png');
    }
    span::after {
      background-image: url('../../assets/images/btn_decor_purple.png');
    }
  }
  &__title.orange {
    span {
      background: #fb9046;
    }
    span::before {
      background-image: url('../../assets/images/btn_decor_orange.png');
    }
    span::after {
      background-image: url('../../assets/images/btn_decor_orange.png');
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    @media (max-width: 864px) {
      flex-direction: column;
      align-items: start;
      .swiper_navigation {
        align-self: end;
      }
    }
    span {
      position: relative;
      color: $brend-white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: max(68px, 5.2vw);
      margin-left: max(39px, 2.96vw);
      padding: 0 max(10px, 0.52vw);
      background: $brend-red;
      @media (max-width: 864px) {
        height: 136px;
        margin-left: 78px;
        width: min-content;
      }
      @media (max-width: 600px) {
        height: 80px;
        margin-left: 30px;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -1.92px;
      }
    }
    span::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 1px;
      transform: translateX(-100%);
      display: block;
      height: max(68px, 5.2vw);
      width: max(39px, 2.96vw);

      background-image: url('../../assets/images/btn_decor_red.png');
      background-size: cover;
      background-repeat: no-repeat;
      @media (max-width: 864px) {
        height: 136px;
        width: 78px;
      }
      @media (max-width: 600px) {
        height: 80px;
        width: 44px;
      }
    }
    span::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 1px;
      transform: translateX(100%) rotate(180deg);
      display: block;
      height: max(68px, 5.2vw);
      width: max(39px, 2.96vw);

      background-image: url('../../assets/images/btn_decor_red.png');
      background-size: cover;
      background-repeat: no-repeat;
      @media (max-width: 864px) {
        height: 136px;
        width: 78px;
      }
      @media (max-width: 600px) {
        height: 80px;
        width: 44px;
      }
    }
    @media (max-width: 768px) {
      padding-right: 32px;
    }
    @media (max-width: 480px) {
      padding-right: 16px;
    }
  }
  .swiper-slide {
    width: min-content;
    height: auto;
  }
  .swiper-slide:last-child {
    margin-right: 40px;
    @media (max-width: 768px) {
      margin-right: 32px;
    }
    @media (max-width: 480px) {
      margin-right: 16px;
    }
  }
  .content {
    padding-right: 0;
  }
}

.flat_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 460px;
  // height: 674px;
  height: 100%;
  margin-bottom: 10px;
  padding: 28px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 1024px) {
    width: 344px;
    // height: 572px;
    padding: 24px 12px;
  }
  @media (max-width: 480px) {
    width: 344px;
    // height: 572px;
    padding: 16px 12px;
  }
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 28px;
    text-align: center;
    span:first-child {
      @include text-16;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
    span:last-child {
      @include text-32;
      @media (max-width: 480px) {
        @include text-32;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      height: 216px;
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      height: 160px;
      margin-bottom: 16px;
    }
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
  }
  &__center_left {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: center;
    span:first-child {
      @include text-16;
      color: $brend-grey;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
    span:last-child {
      @include text-36;
      @media (max-width: 480px) {
        @include text-32;
      }
    }
  }
  &__center_center {
    display: flex;
    align-items: end;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  &__center_right {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: center;
    span:first-child {
      @include text-16;
      color: $brend-grey;
    }
    span:last-child {
      @include text-36;
    }
  }
  &__bottom {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
    span {
      display: flex;
      padding: 8px 16px;
      border-radius: 100px;
      background: $brend-green;
      @include text-16;
      color: $brend-dark;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
  }
  &__address {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    @include text-14;
    text-transform: uppercase;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__note {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    align-items: center;
    width: max-content;
    height: 32px;
    padding-left: 16px;
    border-radius: 100px 0 0 100px;
    @include text-16;
    background: #6858cf;
    white-space: nowrap;
    @media (max-width: 480px) {
      @include text-14;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: -10px;
      display: block;
      height: 100%;
      width: 10px;
      height: 50px;
      background-image: url('../../assets/images/note_decor.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__hover {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-radius: 24px 24px 0 0;
    overflow: hidden;
    // @media (max-width: 1024px) {
    //   height: 110px;
    // }
    @media (max-width: 480px) {
      height: 70px;
    }

    [data-color='ameryka'] {
      background-color: #696969 !important;
    }
    [data-color='vezha'] {
      background-color: #696969 !important;
    }

    [data-color='zalyshky'] {
      background-color: #696969 !important;
    }

    [data-color='shengen'] {
      background-color: #696969 !important;
    }

    [data-color='brama'] {
      background-color: #40e0d0 !important;
    }

    [data-color='kompanyyon'] {
      background-color: #e6e621ff !important;
    }

    [data-color='rielsiti'] {
      background-color: #e6e621ff !important;
    }

    [data-color='brother'] {
      background-color: #fb6a46 !important;
    }

    [data-color='sister'] {
      background-color: #7077fb !important;
    }

    [data-color='father'] {
      background-color: #5db263 !important;
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      transform: translateY(-110%);
      transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
      @media (max-width: 1024px) {
        transform: translateY(0);
      }
    }
  }
  &:hover {
    @media (min-width: 1024px) {
      box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
      .flat_card__hover {
        span {
          transform: translateY(0);
        }
      }
    }
  }
}

//SECTION_FOR_BTN

.section_for_btn {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 650px;
  overflow: hidden;
  color: $brend-white;
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .bg_desktop {
      @media (max-width: 480px) {
        display: none;
      }
    }
    .bg_mob {
      display: none;
      @media (max-width: 480px) {
        display: block;
      }
    }
  }
  // &__left_img {
  //   width: 50%;
  //   @media (max-width: 768px) {
  //     width: 100%;
  //   }
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     object-position: bottom;
  //   }
  // }
  // &__right_img {
  //   width: 50%;
  //   @media (max-width: 768px) {
  //     display: none;
  //   }
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     object-position: bottom;
  //   }
  // }
  &__button {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .brend_btn {
      background: $brend_red;
      &::before {
        background-image: url('../../assets/images/btn_decor_red.png');
      }
      &::after {
        background-image: url('../../assets/images/btn_decor_red.png');
      }
      span {
        &::before {
          color: $brend-white;
        }
        &::after {
          color: $brend-white;
        }
      }
    }
  }
  &__top_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(-100%, 100%);
    .section_for_btn__top_left_decor {
      svg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: max(338px, 23.95vw);
        height: auto;
        @media (max-width: 768px) {
          width: max(166px, 44.1vw);
        }
        @media (max-width: 600px) {
          width: max(172px, 56.33vw);
        }
      }
    }
    .section_for_btn__top_left_text {
      position: absolute;
      z-index: 2;
      top: 40px;
      left: 40px;
      @include text-96-56-32;
      word-spacing: 0.3em;
      @media (max-width: 480px) {
        left: 16px;
      }
    }
  }
  &__bottom_right {
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    transform: translate(100%, -100%);
    .section_for_btn__bottom_right_decor {
      svg {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: max(338px, 23.95vw);
        height: auto;
        @media (max-width: 768px) {
          width: max(166px, 44.1vw);
        }
        @media (max-width: 600px) {
          width: max(172px, 56.33vw);
        }
      }
    }
    .section_for_btn__bottom_right_text {
      position: absolute;
      z-index: 2;
      bottom: 40px;
      right: 40px;
      text-align: end;
      @include text-96-56-32;
      word-spacing: 0.3em;
      @media (max-width: 480px) {
        right: 16px;
      }
    }
  }
}

.section_btn_planning {
  .section_for_btn__top_left_decor,
  .section_for_btn__bottom_right_decor {
    svg {
      transform: rotate(180deg);
    }
  }
}

//SECTION_NEWS

.section_news {
  .content {
    @media (max-width: 768px) {
      padding-right: 0;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1024px) {
      a {
        display: none;
      }
    }
    @media (max-width: 768px) {
      padding-right: 32px;
    }
    @media (max-width: 480px) {
      padding-right: 16px;
    }
  }
  .swiper_navigation {
    display: none;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
  .swiper-slide {
    display: flex;
    align-items: stretch;
    height: auto;
    @media (max-width: 768px) {
      width: 344px;
    }
  }
  &__bottom_btn {
    display: none;
    @media (max-width: 1024px) {
      display: flex;
      margin: 40px auto 0 auto;
    }
  }
}

.news_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 768px) {
    width: 344px;
    height: 456px;
    background: $brend-purple;
  }
  @media (max-width: 480px) {
    height: 101vw;
  }
  &:hover {
    @media (min-width: 1024px) {
      background-color: $brend-purple;
      img {
        transform: scale(1.2);
      }
    }
  }
  &__img {
    min-height: 240px;
    height: 20.83vw;
    margin-bottom: 40px;
    overflow: hidden;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      min-height: 200px;
      margin-bottom: 16px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  &__title {
    margin-bottom: 40px;
    padding: 0 20px;
    @include text-36;
    @media (max-width: 1024px) {
      @include text-20;
    }
    @media (max-width: 480px) {
      margin-bottom: 26px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &__year {
    padding: 0 0 20px 20px;
    @include text-16;
    @media (max-width: 480px) {
      @include text-14;
    }
  }
  &__date {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 210px;
    min-height: 150px;
    width: 12.18vw;
    height: 8.48vw;
    @media (max-width: 1300px) {
      min-width: 160px;
      min-height: 110px;
    }
    @media (max-width: 480px) {
      min-width: 124px;
      min-height: 90x;
    }
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(-180deg);
    }
    span:first-child {
      @include text-96-56-32;
    }
    span:nth-child(2) {
      @include text-16;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
  }
  &__date_content {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
  }
}

//SECTION_VIDEO

.section_video {
  .content {
    display: flex;
    @media (max-width: 1300px) {
      flex-direction: column;
      gap: 70px;
    }
    @media (max-width: 480px) {
      gap: 60px;
    }
  }
  &__left {
    display: flex;
    gap: 4.16vw;
    width: 40vw;
    padding-right: 5.2vw;
    @media (max-width: 1300px) {
      width: 100%;
    }
  }
  &__logo {
    @media (max-width: 480px) {
      display: none;
    }
    svg {
      width: 100px;
      height: 90px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: max(40px, 2.5vw);

    @media (max-width: 768px) {
      gap: max(32px, 5.2vw);
    }
  }
  &__title {
    @include text-36;
    text-transform: uppercase;

    @media (max-width: 480px) {
      @include text-32;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1300px) {
      flex-direction: row;
    }
    @media (max-width: 1300px) {
      flex-direction: column;
    }
    p {
      @include text-16;
      @media (max-width: 1300px) {
        width: 50%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &__right {
    width: 60vw;
    @media (max-width: 1300px) {
      width: 100%;
    }
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
}
.video-element {
  width: 100%;
  height: auto;
}
.stop-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  &:hover {
    @media (min-width: 1024px) {
      transform: rotate(-90deg);
    }
  }
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    @media (min-width: 1024px) {
      .bg {
        transform: rotate(-90deg);
      }
    }
  }
}
.play-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(76px, 5.2vw);
  height: auto;
  @media (max-width: 480px) {
    width: 47px;
  }
  .bg {
    width: 100%;
    height: 100%;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max(24px, 1.875vw);
    transform: translate(-50%, -50%);
    @media (max-width: 480px) {
      width: 16px;
    }
  }
}

//SECTION_TOP

.section_top_subpage {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(10, 15, 19, 0), rgba(10, 15, 19, 0.9));
    @media (max-width: 1300px) {
      display: block;
    }
  }
  &__bg {
    width: 100%;
    height: max(340px, 25vw);
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $brend-dark;
  }
  &__top_left {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
    svg {
      width: max(184px, 20.1vw);
      height: auto;
      @media (max-width: 768px) {
        width: max(110px, 23.95vw);
      }
    }
  }
  &__bottom_right {
    position: absolute;
    z-index: 2;
    bottom: -2px;
    right: 0;
    transform: translate(100%, 100%);
    svg {
      width: max(184px, 20.1vw);
      height: auto;
      @media (max-width: 768px) {
        width: max(110px, 23.95vw);
      }
    }
  }
  &__breadcrumbs {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
    width: max(184px, 20.1vw);
    @media (max-width: 1300px) {
      top: auto;
      left: 50%;
      bottom: 16px;
      transform: translateX(-50%) !important;
      width: auto;
    }
    @media (max-width: 480px) {
      bottom: 12px;
    }
    .breadcrumbs_wrapper {
      padding: 140px 0 0 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      @include text-14;
      text-transform: uppercase;
      @media (max-width: 1300px) {
        padding: 0;
      }
      @media (max-width: 480px) {
        @include text-12;
      }
      a {
        position: relative;
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #ffffff;
        }
        &:hover {
          &::after {
            @media (min-width: 1024px) {
              animation: slideLine 0.7s ease forwards;
            }
          }
        }
      }
      svg {
        width: 10px;
        height: auto;
      }
    }
  }
}

.page-template-flats {
  .section_top_subpage__title {
    color: $brend-white;
  }
}

//

.filter_popup.active {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.filter_popup {
  display: none;
  @media (max-width: 1500px) {
    position: fixed;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(244, 245, 249, 0.1);
    backdrop-filter: blur(64px);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.6s ease;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: calc(var(--vh, 1vh) * 80);
    padding: 40px;
    background: $brend-dark;
    overflow: auto;
    @media (max-width: 768px) {
      width: 100vw;
      max-height: calc(var(--vh, 1vh) * 100);
      padding: 32px;
    }
    @media (max-width: 480px) {
      padding: 24px 16px;
    }
  }
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__title {
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -3.36px;
    text-transform: uppercase;
    @media (max-width: 480px) {
      font-size: 32px;
      font-weight: 400;
      line-height: 90%;
      letter-spacing: -1.92px;
      text-transform: uppercase;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      gap: 8;
      margin-top: 40px;
    }
    .brend_btn {
      width: 50%;
      @media (max-width: 768px) {
        width: calc(100% - 78px);
      }
      @media (max-width: 480px) {
        width: calc(100% - 44px);
      }
    }
    .brend_btn:nth-child(1) {
      background: $brend-red;
      &::before {
        background-image: url('../../assets/images/btn_decor_red.png');
      }
      &::after {
        background-image: url('../../assets/images/btn_decor_red.png');
      }
      span::before {
        color: $brend-white;
      }
      span::after {
        color: $brend-white;
      }
    }
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 24px 0;
  @media (max-width: 1500px) {
    height: 100%;
  }
  @media (max-width: 480px) {
    gap: 40px;
  }
  &__item_title {
    margin-bottom: 20px;
    padding: 0 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.2px;
  }
  &__item_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.checkbox {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 38px;
    padding: 0 16px !important;
    border-radius: 100px;
    border: 1px solid rgba(244, 245, 249, 0.1);
    @include text-16;
    cursor: pointer;
    transition: 0.25s ease-out;
  }
  &:hover {
    @media (min-width: 1024px) {
      label {
        color: $brend-dark;
        background: $brend-green;
      }
    }
  }
  .checkbox__input:checked + .checkbox__label {
    color: $brend-dark;
    background: $brend-green;
  }
}

@keyframes downArrowAnim {
  0% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes runRightArrow {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(60px);
  }
  71% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes runLeftArrow {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-60px);
  }
  71% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideLine {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200%);
  }
  51% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.bg_desktop {
  object-fit: cover;
  @media (max-width: 1024px) {
    display: none;
  }
}
.bg_tablet {
  display: none;
  object-fit: cover;
  @media (max-width: 1024px) {
    display: block;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.bg_mob {
  display: none;
  object-fit: cover;
  @media (max-width: 480px) {
    display: block;
  }
}
.section_top,
.section_for_btn__img {
  .bg_desktop {
    display: block !important;
    object-fit: cover;
    @media (max-width: 480px) {
      display: none !important;
    }
  }
  .bg_mob {
    display: none !important;
    object-fit: cover;
    @media (max-width: 480px) {
      display: block !important;
    }
  }
}
