.page-template-projects .filter_flats {
  display: none;
}

.section_projects {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    width: 100%;
    height: 8px;
    background: $brend-dark;
  }
  .btn_filter_mob {
    display: none;

    @media (max-width: 1500px) {
      position: fixed;
      bottom: 0px;
      left: 0;
      z-index: 10;
      transform: translateY(100%);
      display: flex;
      justify-content: center;
      align-items: end;
      width: 100%;
      height: 100px;
      background: linear-gradient(to top, rgba(10, 15, 19, 0.9), rgba(10, 15, 19, 0));
      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        height: 68px;
        margin-bottom: 32px;
        background: $brend-white;
        @media (max-width: 480px) {
          height: 40px;
          margin-bottom: 16px;
        }
        .number {
          position: absolute;
          z-index: 3;
          top: 4px;
          right: -10px;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background: $brend-dark;
          span {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            color: $brend-white;
            font-size: 8px;
            line-height: 100%;
          }
        }
        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          left: 1px;
          transform: translateX(-100%);
          display: block;
          height: 100%;
          width: 39px;
          height: 68px;
          background-image: url('../../assets/images/btn_decor_white.png');
          background-size: cover;
          background-repeat: no-repeat;
          @media (max-width: 480px) {
            width: 22px;
            height: 40px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          right: 1px;
          transform: translateX(100%) rotate(180deg);
          display: block;
          height: 100%;
          width: 39px;
          height: 68px;
          background-image: url('../../assets/images/btn_decor_white.png');
          background-size: cover;
          background-repeat: no-repeat;
          @media (max-width: 480px) {
            width: 22px;
            height: 40px;
          }
        }
      }
      span {
        @include text-20;
        color: $brend-dark;
      }
      svg {
        width: 24px;
      }
    }
  }
  &__selected {
    display: flex;
    height: 88px;
    margin: 48px 0;
    padding: 28px 0;
    border-top: 1px solid rgba(244, 245, 249, 0.1);
    border-bottom: 1px solid rgba(244, 245, 249, 0.1);
    .btn_delete {
      display: none;
      margin-left: 20px;
      @include text-14;
      color: $brend-white;
      text-transform: uppercase;
      cursor: pointer;
    }
    @media (max-width: 1500px) {
      display: none;
    }
  }
  &__selected_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: auto;
  }
  &__selected_item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    @include text-14;
    color: $brend-dark;
    background: $brend-white;
    svg {
      width: 10px;
      height: 10px;
      cursor: pointer;
    }
  }
  &__wrapper {
    display: flex;
    gap: 80px;
    @media (max-width: 1500px) {
      gap: 0;
      margin-top: 40px;
    }
  }
  &__filter {
    width: 340px;
    @media (max-width: 1500px) {
      display: none;
    }
  }
  &__filter_result {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 2px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.project_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max(520px, 37.5vw);
  padding-top: 28px;
  border-radius: 24px;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  &:hover {
    @media (min-width: 1024px) {
      box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
      .project_card__bg {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 24px;
  }
  @media (max-width: 480px) {
    height: 420px;
    padding-top: 16px;
  }
  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(10, 15, 19, 0) 73.96%, #0a0f13 100%),
      linear-gradient(180deg, rgba(10, 15, 19, 0) 56.94%, #0a0f13 100%),
      linear-gradient(180deg, rgba(10, 15, 19, 0) 56.94%, #0a0f13 100%),
      linear-gradient(180deg, rgba(10, 15, 19, 0) 56.94%, #0a0f13 100%);
    overflow: hidden;
  }
  &__note {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 5px;
    display: flex;
    align-items: center;
    width: max-content;
    height: 32px;
    padding-left: 16px;
    border-radius: 100px 0 0 100px;
    @include text-16;
    background: #6858cf;
    white-space: nowrap;
    @media (max-width: 480px) {
      @include text-14;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: -10px;
      display: block;
      height: 100%;
      width: 10px;
      height: 50px;
      background-image: url('../../assets/images/note_decor.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__top {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 28px;
    text-align: center;
    span:first-child {
      @include text-16;
      color: $brend-grey;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
    span:last-child {
      @include text-36;
      @media (max-width: 480px) {
        @include text-32;
      }
    }
  }
  &__address {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-radius: 0 0 24px 24px;
    @include text-14;
    text-transform: uppercase;
    @media (max-width: 768px) {
      padding: 24px;
    }
    @media (max-width: 480px) {
      padding: 16px;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__price {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 28px;
    text-align: center;
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
    span:first-child {
      @include text-16;
      color: $brend-grey;
      @media (max-width: 480px) {
        @include text-14;
      }
    }
    span:last-child {
      @include text-36;
      @media (max-width: 480px) {
        @include text-32;
      }
    }
  }
  &__features {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 28px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      padding: 0px 16px;
      border-radius: 100px;
      text-align: center;
      @include text-16;
      line-height: 100%;
      @media (max-width: 480px) {
        height: 32px;
        @include text-14;
      }
    }
    span:nth-child(1) {
      background: $brend-red;
    }
    span:nth-child(2) {
      background: $brend-green;
    }
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
  }
}
.pagination_arrow.disabled {
  opacity: 0.2;
  cursor: auto;
  &:hover {
    @media (min-width: 1024px) {
      .bg {
        fill: $brend-dark;
      }
      .icon path {
        stroke: $brend-white;
      }
    }
  }
}
.pagination_arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 68px;
  cursor: pointer;
  @media (max-width: 480px) {
    width: 46px;
    height: 40px;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-out;
  }
  .icon {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 16px;
    @media (max-width: 480px) {
      width: 22px;
      height: auto;
    }
    path {
      transition: all 0.5s ease-out;
    }
  }
  &:hover {
    @media (min-width: 1024px) {
      .bg {
        fill: $brend-white;
      }
      .icon path {
        stroke: $brend-dark;
      }
    }
  }
}
.pagination {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background: $brend-dark;
  @media (max-width: 768px) {
    padding: 60px 32px 0 32px;
  }
  @media (max-width: 480px) {
    gap: 32px;
    padding: 50px 16px 0 16px;
  }
  &__pages {
    display: flex;
    gap: 12px;
  }
  &__current_pages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    padding: 0 48px;
    border-radius: 100px;
    @include text-20;
    color: $brend-dark;
    background: #dbe2ea;
    @media (max-width: 480px) {
      height: 42px;
      padding: 0 32px;
      @include text-16;
    }
  }
  &__all_pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    @include text-16;
    @media (max-width: 480px) {
      @include text-14;
      color: $brend-grey;
    }
  }
}
.preloader {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $brend-dark;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
  svg {
    position: absolute;
    top: 10vw;
    width: 70px;
    circle {
      stroke: $brend-white;
    }
  }
}
