section.section_projects 
    .content 
        .section_projects__selected
            .section_projects__selected_wrapper
            button.btn_delete Очистити
        .section_projects__wrapper 
            .section_projects__filter.filter
                .filter__item
                    .filter__item_title Житловий комплекс:
                    .filter__item_wrapper
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="father" data-filter="project-father" data-name="Father")
                            label.checkbox__label(for="father") Father
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="sister" data-filter="project-sister" data-name="Sister")
                            label.checkbox__label(for="sister") Sister 
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="brother" data-filter="project-brother" data-name="Brother")
                            label.checkbox__label(for="brother") Brother
                .filter__item
                    .filter__item_title Статус:
                    .filter__item_wrapper
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="new" data-filter="status-new" data-name="Новий")
                            label.checkbox__label(for="new") Новий
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="popular"  data-filter="status-popular" data-name="Популярний")
                            label.checkbox__label(for="popular") Популярний
                        .checkbox 
                            input.checkbox__input(type="checkbox" id="low_price" data-filter="status-price" data-name="Ціну знижено")
                            label.checkbox__label(for="low_price") Ціну знижено
            .section_projects__filter_result 
                .btn_filter_mob 
                    button 
                        span Фільтр
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M15.5 15.5C17.0855 15.5 18.4242 16.5543 18.8545 18H22V20H18.8545C18.4242 21.4457 17.0855 22.5 15.5 22.5C13.9145 22.5 12.5758 21.4457 12.1455 20H2V18H12.1455C12.5758 16.5543 13.9145 15.5 15.5 15.5ZM15.5 17.5C14.6716 17.5 14 18.1716 14 19C14 19.8284 14.6716 20.5 15.5 20.5C16.3284 20.5 17 19.8284 17 19C17 18.1716 16.3284 17.5 15.5 17.5ZM8.5 9.5C10.0855 9.5 11.4242 10.5543 11.8545 12H22V14H11.8545C11.4242 15.4457 10.0855 16.5 8.5 16.5C6.91455 16.5 5.57583 15.4457 5.14551 14H2V12H5.14551C5.57583 10.5543 6.91455 9.5 8.5 9.5ZM8.5 11.5C7.67157 11.5 7 12.1716 7 13C7 13.8284 7.67157 14.5 8.5 14.5C9.32843 14.5 10 13.8284 10 13C10 12.1716 9.32843 11.5 8.5 11.5ZM15.5 3.5C17.0855 3.5 18.4242 4.55434 18.8545 6H22V8H18.8545C18.4242 9.44566 17.0855 10.5 15.5 10.5C13.9145 10.5 12.5758 9.44566 12.1455 8H2V6H12.1455C12.5758 4.55434 13.9145 3.5 15.5 3.5ZM15.5 5.5C14.6716 5.5 14 6.17157 14 7C14 7.82843 14.6716 8.5 15.5 8.5C16.3284 8.5 17 7.82843 17 7C17 6.17157 16.3284 5.5 15.5 5.5Z" fill="#1D3541"/>
                        </svg>
                .preloader
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><radialGradient id='a10' cx='.66' fx='.66' cy='.3125' fy='.3125' gradientTransform='scale(1.5)'><stop offset='0' stop-color='#FF156D'></stop><stop offset='.3' stop-color='#FF156D' stop-opacity='.9'></stop><stop offset='.6' stop-color='#FF156D' stop-opacity='.6'></stop><stop offset='.8' stop-color='#FF156D' stop-opacity='.3'></stop><stop offset='1' stop-color='#FF156D' stop-opacity='0'></stop></radialGradient><circle transform-origin='center' fill='none' stroke='url(#a10)' stroke-width='15' stroke-linecap='round' stroke-dasharray='200 1000' stroke-dashoffset='0' cx='100' cy='100' r='70'><animateTransform type='rotate' attributeName='transform' calcMode='spline' dur='2' values='360;0' keyTimes='0;1' keySplines='0 0 1 1' repeatCount='indefinite'></animateTransform></circle><circle transform-origin='center' fill='none' opacity='.2' stroke='#FF156D' stroke-width='15' stroke-linecap='round' cx='100' cy='100' r='70'></circle></svg>
                - for (let i = 1; i <= 10; i++)
                    a(href="/" data-project="father" data-status="popular" data-filtered="true").project_card 
                        .project_card__bg
                            img(src="../../assets/images/projects/father.png" alt="project")
                        .project_card__note Популярний
                        .project_card__top 
                            span Житловий комплекс:
                            span Father
                        .project_card__bottom 
                            .project_card__price 
                                span Ціна квартири:
                                span Від 1.58 млн грн
                            .project_card__features
                                span Останні квартири
                                span 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="121" height="22" viewBox="0 0 121 22" fill="none">
                                        <g clip-path="url(#clip0_2197_2425)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.14043 2.00005L3.1398 2.00064C2.28837 2.79465 1.84517 3.8107 1.61918 5.24939C1.39126 6.70039 1.39031 8.5348 1.39031 10.9425C1.39031 13.3502 1.39126 15.1846 1.61919 16.6361C1.84518 18.0753 2.28841 19.0925 3.14012 19.8886C3.98961 20.6844 5.07696 21.0989 6.61617 21.3102C8.16854 21.5232 10.1312 21.5242 12.7071 21.5242C15.2829 21.5242 17.2456 21.5232 18.7985 21.3102C20.3382 21.0989 21.4265 20.6847 22.2783 19.8886C23.13 19.0924 23.5732 18.0761 23.7992 16.6376C24.0271 15.1866 24.0281 13.3521 24.0281 10.9425C24.0281 8.53282 24.0271 6.69835 23.7992 5.2474C23.5732 3.80882 23.13 2.79252 22.2783 1.99638C21.4266 1.20228 20.3393 0.788998 18.8002 0.578265C17.2478 0.365703 15.2851 0.364816 12.7071 0.364816C10.129 0.364816 8.16641 0.365708 6.6146 0.578744C5.07602 0.789955 3.98998 1.20417 3.14043 2.00005ZM22.5542 1.73841C24.4184 3.4808 24.4184 6.14401 24.4184 10.9425C24.4184 15.741 24.4184 18.4042 22.5542 20.1466C20.6901 21.889 17.8366 21.889 12.7071 21.889C7.57753 21.889 4.72401 21.889 2.86413 20.1466C1 18.4042 1 15.737 1 10.9425C1 6.14797 1 3.4808 2.86413 1.74238C4.72401 0 7.57328 0 12.7071 0C17.8408 0 20.6901 0 22.5542 1.73841Z" fill="#1D3541"/>
                                            <path d="M12.2132 17.862C11.3865 17.2657 10.7768 16.3761 10.5804 15.3398H7.91406V4.43967C9.35057 5.11421 10.3737 6.60993 10.4977 8.1545L10.9007 11.2144L10.7044 11.1851C10.2704 11.1851 9.89829 11.5663 9.89829 11.9476C9.89829 12.2995 10.1877 12.6026 10.5597 12.6808L11.0454 12.7883C11.8515 11.3513 12.3063 9.94354 12.3063 8.55534C12.3063 7.30403 12.1306 6.06246 12.1099 4.7916C12.1099 4.2246 12.3372 3.70648 12.7093 3.30566C13.0813 3.71625 13.3087 4.2246 13.3087 4.7916C13.3087 6.06246 13.1123 7.31377 13.1123 8.55534C13.1123 9.93375 13.567 11.3513 14.3731 12.7883L14.8588 12.6808C15.2309 12.6026 15.5203 12.2995 15.5203 11.9476C15.5203 11.5663 15.1482 11.1851 14.7142 11.1851L14.5178 11.2144L14.9208 8.1545C15.1172 6.60993 16.068 5.11421 17.5044 4.43967V15.3398H14.8381C14.6418 16.3663 14.0631 17.295 13.2053 17.862C13.009 17.9988 12.8333 18.165 12.7196 18.3802C12.5853 18.1553 12.4096 17.9988 12.2132 17.862ZM9.17487 11.5761C9.28858 11.1655 9.60895 10.8136 10.0017 10.5985L9.68125 8.07629C9.5676 7.29424 9.22654 6.59035 8.70984 6.01357V11.5663H9.17487V11.5761ZM10.5287 14.5773C10.5287 14.196 10.5907 13.8441 10.6734 13.4922L10.3013 13.414C9.75362 13.2478 9.32993 12.8469 9.18525 12.3288H8.73048V14.5773H10.5287ZM12.2959 14.5773C12.2959 14.1178 11.9239 13.7072 11.4381 13.6583C11.3555 13.9517 11.2934 14.2547 11.2934 14.5773H12.2959ZM12.2959 15.3398H11.4072C11.5518 15.9362 11.8619 16.4738 12.2959 16.9431V15.3398ZM13.5567 12.9838C13.2157 12.3875 12.8953 11.7618 12.6989 11.1166C12.5026 11.7716 12.1822 12.3875 11.8412 12.9838C12.1822 13.062 12.4716 13.2771 12.6989 13.5215C12.9263 13.2771 13.2157 13.062 13.5567 12.9838ZM14.1044 14.5773C14.1044 14.2547 14.0424 13.9517 13.9597 13.6583C13.474 13.717 13.102 14.1178 13.102 14.5773H14.1044ZM13.9908 15.3398H13.102V16.9431C13.5361 16.4738 13.8461 15.9362 13.9908 15.3398ZM16.688 14.5773V12.3288H16.2333C16.0886 12.8469 15.6649 13.2478 15.1172 13.414L14.7451 13.4922C14.8278 13.8441 14.8899 14.196 14.8899 14.5773H16.688ZM16.688 11.5761V6.02336C16.1713 6.59035 15.7993 7.29424 15.7166 8.08608L15.3962 10.6083C15.7993 10.8233 16.1093 11.1753 16.223 11.5858H16.688V11.5761Z" fill="#1D3541"/>
                                            <path d="M39.9258 0C45.0695 0 47.9293 -0.000370661 49.7969 1.74121C51.6644 3.48285 51.6641 6.14874 51.6641 10.9473C51.6641 15.7455 51.6644 18.4107 49.7969 20.1523C47.9293 21.894 45.0696 21.8936 39.9258 21.8936C34.7819 21.8936 31.9223 21.894 30.0547 20.1523C28.1872 18.4107 28.1875 15.744 28.1875 10.9473C28.1875 6.15033 28.1871 3.48285 30.0547 1.74121C31.9223 -0.000329718 34.782 0 39.9258 0ZM40.1641 5.58008C38.4938 5.58008 37.135 6.06395 36.0879 7.03125C35.0657 7.99874 34.5537 9.25903 34.5537 10.8115C34.5537 12.3641 35.0656 13.6242 36.0879 14.5918C37.135 15.5592 38.4937 16.043 40.1641 16.043C41.3856 16.0429 42.4452 15.7841 43.3428 15.2666C44.2651 14.7491 44.8888 14.0181 45.2129 13.0732L43.1553 12.4316C42.881 13.0391 42.4825 13.5121 41.959 13.8496C41.4604 14.1646 40.862 14.3213 40.1641 14.3213C39.2416 14.3213 38.4812 14.0741 37.8828 13.5791C37.2844 13.0841 36.9225 12.398 36.7979 11.5205H41.585V9.90039H36.8359C37.0104 9.09059 37.3839 8.46071 37.957 8.01074C38.5305 7.53824 39.2665 7.30176 40.1641 7.30176C40.862 7.30179 41.4604 7.4702 41.959 7.80762C42.4824 8.1226 42.881 8.58403 43.1553 9.19141L45.2129 8.5498C44.8888 7.60497 44.2651 6.87388 43.3428 6.35645C42.4452 5.83897 41.3856 5.5801 40.1641 5.58008Z" fill="#1D3541"/>
                                            <path d="M66.8526 17.6211C70.9114 17.6211 73.6904 14.9271 73.6904 10.9712C73.6904 6.94718 70.9845 4.32129 66.8526 4.32129C62.7932 4.32129 60.0508 7.01538 60.0508 10.9712C60.0508 14.9953 62.7567 17.6211 66.8526 17.6211ZM66.8526 15.3363C64.4752 15.3363 62.9029 13.6312 62.9029 10.9712C62.9029 8.31124 64.4752 6.60613 66.8526 6.60613C69.2294 6.60613 70.8017 8.31124 70.8017 10.9712C70.8017 13.6312 69.2294 15.3363 66.8526 15.3363Z" fill="#1D3541"/>
                                            <path d="M80.6292 17.6215C83.0791 17.6215 85.0177 16.4961 85.6393 14.5522L83.1523 13.8361C82.7135 14.9274 81.8359 15.5754 80.5927 15.5754C78.8375 15.5754 77.7405 14.3135 77.7405 12.3356C77.7405 10.3577 78.8375 9.09591 80.5927 9.09591C81.8359 9.09591 82.7135 9.74387 83.1157 10.8351L85.6393 10.119C85.0177 8.17516 83.0791 7.0498 80.6292 7.0498C77.3018 7.0498 75.0347 9.16411 75.0347 12.3356C75.0347 15.5071 77.3018 17.6215 80.6292 17.6215Z" fill="#1D3541"/>
                                            <path d="M88.9955 13.12H97.1503C97.26 12.7789 97.26 12.5743 97.26 12.3356C97.26 9.13001 95.1392 7.0498 91.8848 7.0498C88.5567 7.0498 86.3628 9.19821 86.3628 12.3356C86.3628 15.3707 88.3008 17.6215 92.0676 17.6215C94.2616 17.6215 95.8339 16.8712 96.8212 15.8141L95.1757 14.3476C94.5175 15.0638 93.4937 15.5754 92.0676 15.5754C90.3485 15.5754 89.2515 14.6545 88.9955 13.12ZM91.8848 9.02771C93.3109 9.02771 94.2982 9.84617 94.5907 11.3126H89.0321C89.3246 9.88027 90.3485 9.02771 91.8848 9.02771Z" fill="#1D3541"/>
                                            <path d="M108.696 7.21973H99.5179V12.4374C99.5179 14.9268 99.2619 15.2337 98.3843 15.2337H97.7627V17.4504C98.0552 17.4845 98.494 17.5186 98.8962 17.5186C101.237 17.5186 102.115 16.3591 102.115 12.7102V9.43634H106.064V17.4504H108.696V7.21973Z" fill="#1D3541"/>
                                            <path d="M120.389 7.21973H115.233C112.637 7.21973 110.955 8.54968 110.955 10.5958C110.955 11.9599 111.722 12.983 113.075 13.4945L110.296 17.4504H113.222L115.635 13.8356H117.793V17.4504H120.389V7.21973ZM115.525 11.994C114.319 11.994 113.624 11.4825 113.624 10.5958C113.624 9.74329 114.319 9.19764 115.525 9.19764H117.793V11.994H115.525Z" fill="#1D3541"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2197_2425">
                                            <rect width="120" height="22" fill="white" transform="translate(0.5)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                            .project_card__address(style="background:#5DB263")
                                <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.50073 0C8.14043 0 10.4782 1.66034 10.4783 4.83008C10.4783 5.49423 10.1269 6.46565 9.95093 6.86816L5.50073 16L1.05054 6.86816C0.874556 6.46565 0.523193 5.49423 0.523193 4.83008C0.523248 1.66034 2.86104 4.59894e-06 5.50073 0ZM5.50073 2.84375C4.32252 2.84375 3.36694 3.79933 3.36694 4.97754C3.36719 6.15554 4.32268 7.11035 5.50073 7.11035C6.67858 7.11011 7.6333 6.15539 7.63354 4.97754C7.63354 3.79948 6.67873 2.844 5.50073 2.84375Z" fill="#F4F5F9"/>
                                </svg>
                                span вул. Промислова, 50
                    a(href="/" data-project="sister" data-status="new" data-filtered="true").project_card 
                        .project_card__bg
                            img(src="../../assets/images/projects/sister.jpg" alt="project")
                        .project_card__note Новий
                        .project_card__top 
                            span Житловий комплекс:
                            span Sister
                        .project_card__bottom 
                            .project_card__price 
                                span Ціна квартири:
                                span Від 1.58 млн грн
                            .project_card__features
                                span Останні квартири
                                span 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="121" height="22" viewBox="0 0 121 22" fill="none">
                                        <g clip-path="url(#clip0_2197_2425)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.14043 2.00005L3.1398 2.00064C2.28837 2.79465 1.84517 3.8107 1.61918 5.24939C1.39126 6.70039 1.39031 8.5348 1.39031 10.9425C1.39031 13.3502 1.39126 15.1846 1.61919 16.6361C1.84518 18.0753 2.28841 19.0925 3.14012 19.8886C3.98961 20.6844 5.07696 21.0989 6.61617 21.3102C8.16854 21.5232 10.1312 21.5242 12.7071 21.5242C15.2829 21.5242 17.2456 21.5232 18.7985 21.3102C20.3382 21.0989 21.4265 20.6847 22.2783 19.8886C23.13 19.0924 23.5732 18.0761 23.7992 16.6376C24.0271 15.1866 24.0281 13.3521 24.0281 10.9425C24.0281 8.53282 24.0271 6.69835 23.7992 5.2474C23.5732 3.80882 23.13 2.79252 22.2783 1.99638C21.4266 1.20228 20.3393 0.788998 18.8002 0.578265C17.2478 0.365703 15.2851 0.364816 12.7071 0.364816C10.129 0.364816 8.16641 0.365708 6.6146 0.578744C5.07602 0.789955 3.98998 1.20417 3.14043 2.00005ZM22.5542 1.73841C24.4184 3.4808 24.4184 6.14401 24.4184 10.9425C24.4184 15.741 24.4184 18.4042 22.5542 20.1466C20.6901 21.889 17.8366 21.889 12.7071 21.889C7.57753 21.889 4.72401 21.889 2.86413 20.1466C1 18.4042 1 15.737 1 10.9425C1 6.14797 1 3.4808 2.86413 1.74238C4.72401 0 7.57328 0 12.7071 0C17.8408 0 20.6901 0 22.5542 1.73841Z" fill="#1D3541"/>
                                            <path d="M12.2132 17.862C11.3865 17.2657 10.7768 16.3761 10.5804 15.3398H7.91406V4.43967C9.35057 5.11421 10.3737 6.60993 10.4977 8.1545L10.9007 11.2144L10.7044 11.1851C10.2704 11.1851 9.89829 11.5663 9.89829 11.9476C9.89829 12.2995 10.1877 12.6026 10.5597 12.6808L11.0454 12.7883C11.8515 11.3513 12.3063 9.94354 12.3063 8.55534C12.3063 7.30403 12.1306 6.06246 12.1099 4.7916C12.1099 4.2246 12.3372 3.70648 12.7093 3.30566C13.0813 3.71625 13.3087 4.2246 13.3087 4.7916C13.3087 6.06246 13.1123 7.31377 13.1123 8.55534C13.1123 9.93375 13.567 11.3513 14.3731 12.7883L14.8588 12.6808C15.2309 12.6026 15.5203 12.2995 15.5203 11.9476C15.5203 11.5663 15.1482 11.1851 14.7142 11.1851L14.5178 11.2144L14.9208 8.1545C15.1172 6.60993 16.068 5.11421 17.5044 4.43967V15.3398H14.8381C14.6418 16.3663 14.0631 17.295 13.2053 17.862C13.009 17.9988 12.8333 18.165 12.7196 18.3802C12.5853 18.1553 12.4096 17.9988 12.2132 17.862ZM9.17487 11.5761C9.28858 11.1655 9.60895 10.8136 10.0017 10.5985L9.68125 8.07629C9.5676 7.29424 9.22654 6.59035 8.70984 6.01357V11.5663H9.17487V11.5761ZM10.5287 14.5773C10.5287 14.196 10.5907 13.8441 10.6734 13.4922L10.3013 13.414C9.75362 13.2478 9.32993 12.8469 9.18525 12.3288H8.73048V14.5773H10.5287ZM12.2959 14.5773C12.2959 14.1178 11.9239 13.7072 11.4381 13.6583C11.3555 13.9517 11.2934 14.2547 11.2934 14.5773H12.2959ZM12.2959 15.3398H11.4072C11.5518 15.9362 11.8619 16.4738 12.2959 16.9431V15.3398ZM13.5567 12.9838C13.2157 12.3875 12.8953 11.7618 12.6989 11.1166C12.5026 11.7716 12.1822 12.3875 11.8412 12.9838C12.1822 13.062 12.4716 13.2771 12.6989 13.5215C12.9263 13.2771 13.2157 13.062 13.5567 12.9838ZM14.1044 14.5773C14.1044 14.2547 14.0424 13.9517 13.9597 13.6583C13.474 13.717 13.102 14.1178 13.102 14.5773H14.1044ZM13.9908 15.3398H13.102V16.9431C13.5361 16.4738 13.8461 15.9362 13.9908 15.3398ZM16.688 14.5773V12.3288H16.2333C16.0886 12.8469 15.6649 13.2478 15.1172 13.414L14.7451 13.4922C14.8278 13.8441 14.8899 14.196 14.8899 14.5773H16.688ZM16.688 11.5761V6.02336C16.1713 6.59035 15.7993 7.29424 15.7166 8.08608L15.3962 10.6083C15.7993 10.8233 16.1093 11.1753 16.223 11.5858H16.688V11.5761Z" fill="#1D3541"/>
                                            <path d="M39.9258 0C45.0695 0 47.9293 -0.000370661 49.7969 1.74121C51.6644 3.48285 51.6641 6.14874 51.6641 10.9473C51.6641 15.7455 51.6644 18.4107 49.7969 20.1523C47.9293 21.894 45.0696 21.8936 39.9258 21.8936C34.7819 21.8936 31.9223 21.894 30.0547 20.1523C28.1872 18.4107 28.1875 15.744 28.1875 10.9473C28.1875 6.15033 28.1871 3.48285 30.0547 1.74121C31.9223 -0.000329718 34.782 0 39.9258 0ZM40.1641 5.58008C38.4938 5.58008 37.135 6.06395 36.0879 7.03125C35.0657 7.99874 34.5537 9.25903 34.5537 10.8115C34.5537 12.3641 35.0656 13.6242 36.0879 14.5918C37.135 15.5592 38.4937 16.043 40.1641 16.043C41.3856 16.0429 42.4452 15.7841 43.3428 15.2666C44.2651 14.7491 44.8888 14.0181 45.2129 13.0732L43.1553 12.4316C42.881 13.0391 42.4825 13.5121 41.959 13.8496C41.4604 14.1646 40.862 14.3213 40.1641 14.3213C39.2416 14.3213 38.4812 14.0741 37.8828 13.5791C37.2844 13.0841 36.9225 12.398 36.7979 11.5205H41.585V9.90039H36.8359C37.0104 9.09059 37.3839 8.46071 37.957 8.01074C38.5305 7.53824 39.2665 7.30176 40.1641 7.30176C40.862 7.30179 41.4604 7.4702 41.959 7.80762C42.4824 8.1226 42.881 8.58403 43.1553 9.19141L45.2129 8.5498C44.8888 7.60497 44.2651 6.87388 43.3428 6.35645C42.4452 5.83897 41.3856 5.5801 40.1641 5.58008Z" fill="#1D3541"/>
                                            <path d="M66.8526 17.6211C70.9114 17.6211 73.6904 14.9271 73.6904 10.9712C73.6904 6.94718 70.9845 4.32129 66.8526 4.32129C62.7932 4.32129 60.0508 7.01538 60.0508 10.9712C60.0508 14.9953 62.7567 17.6211 66.8526 17.6211ZM66.8526 15.3363C64.4752 15.3363 62.9029 13.6312 62.9029 10.9712C62.9029 8.31124 64.4752 6.60613 66.8526 6.60613C69.2294 6.60613 70.8017 8.31124 70.8017 10.9712C70.8017 13.6312 69.2294 15.3363 66.8526 15.3363Z" fill="#1D3541"/>
                                            <path d="M80.6292 17.6215C83.0791 17.6215 85.0177 16.4961 85.6393 14.5522L83.1523 13.8361C82.7135 14.9274 81.8359 15.5754 80.5927 15.5754C78.8375 15.5754 77.7405 14.3135 77.7405 12.3356C77.7405 10.3577 78.8375 9.09591 80.5927 9.09591C81.8359 9.09591 82.7135 9.74387 83.1157 10.8351L85.6393 10.119C85.0177 8.17516 83.0791 7.0498 80.6292 7.0498C77.3018 7.0498 75.0347 9.16411 75.0347 12.3356C75.0347 15.5071 77.3018 17.6215 80.6292 17.6215Z" fill="#1D3541"/>
                                            <path d="M88.9955 13.12H97.1503C97.26 12.7789 97.26 12.5743 97.26 12.3356C97.26 9.13001 95.1392 7.0498 91.8848 7.0498C88.5567 7.0498 86.3628 9.19821 86.3628 12.3356C86.3628 15.3707 88.3008 17.6215 92.0676 17.6215C94.2616 17.6215 95.8339 16.8712 96.8212 15.8141L95.1757 14.3476C94.5175 15.0638 93.4937 15.5754 92.0676 15.5754C90.3485 15.5754 89.2515 14.6545 88.9955 13.12ZM91.8848 9.02771C93.3109 9.02771 94.2982 9.84617 94.5907 11.3126H89.0321C89.3246 9.88027 90.3485 9.02771 91.8848 9.02771Z" fill="#1D3541"/>
                                            <path d="M108.696 7.21973H99.5179V12.4374C99.5179 14.9268 99.2619 15.2337 98.3843 15.2337H97.7627V17.4504C98.0552 17.4845 98.494 17.5186 98.8962 17.5186C101.237 17.5186 102.115 16.3591 102.115 12.7102V9.43634H106.064V17.4504H108.696V7.21973Z" fill="#1D3541"/>
                                            <path d="M120.389 7.21973H115.233C112.637 7.21973 110.955 8.54968 110.955 10.5958C110.955 11.9599 111.722 12.983 113.075 13.4945L110.296 17.4504H113.222L115.635 13.8356H117.793V17.4504H120.389V7.21973ZM115.525 11.994C114.319 11.994 113.624 11.4825 113.624 10.5958C113.624 9.74329 114.319 9.19764 115.525 9.19764H117.793V11.994H115.525Z" fill="#1D3541"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2197_2425">
                                            <rect width="120" height="22" fill="white" transform="translate(0.5)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                            .project_card__address(style="background:#5DB263")
                                <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.50073 0C8.14043 0 10.4782 1.66034 10.4783 4.83008C10.4783 5.49423 10.1269 6.46565 9.95093 6.86816L5.50073 16L1.05054 6.86816C0.874556 6.46565 0.523193 5.49423 0.523193 4.83008C0.523248 1.66034 2.86104 4.59894e-06 5.50073 0ZM5.50073 2.84375C4.32252 2.84375 3.36694 3.79933 3.36694 4.97754C3.36719 6.15554 4.32268 7.11035 5.50073 7.11035C6.67858 7.11011 7.6333 6.15539 7.63354 4.97754C7.63354 3.79948 6.67873 2.844 5.50073 2.84375Z" fill="#F4F5F9"/>
                                </svg>
                                span вул. Клеманська, 3
    .section_projects__pagination.pagination
        .section_projects__pagination_arrow_left.pagination_arrow
            <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="76" height="68" viewBox="0 0 76 68" fill="none">
                <path d="M53.2715 0.499998L22.7402 0.499995C20.2045 0.499995 17.904 1.84928 16.6357 3.9121L1.37695 30.4717C0.192661 32.6113 0.196079 35.3052 1.45898 37.4385L1.46191 37.4434L16.7246 64.0098C17.9949 66.1556 20.2944 67.5 22.7402 67.5L53.2715 67.5C55.6409 67.4999 57.7364 66.321 59.0371 64.4033L59.2861 64.0098L74.5488 37.4434L74.5518 37.4385L74.667 37.2363C75.8147 35.1404 75.7762 32.6298 74.5518 30.5615L74.5488 30.5566L59.2861 3.99023C58.0159 1.84453 55.7172 0.500138 53.2715 0.499998Z" stroke="#F4F5F9" stroke-opacity="0.4"/>
            </svg>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none">
                <g clip-path="url(#clip0_789_9074)">
                    <path d="M3.5 9L33.5 9M3.5 9L10.925 1M3.5 9L7.2125 13L10.925 17" stroke="#F4F5F9" stroke-width="3"/>
                </g>
                <defs>
                    <clipPath id="clip0_789_9074">
                    <rect width="18" height="33" fill="white" transform="matrix(1.19249e-08 1 1 -1.19249e-08 0.5 0)"/>
                    </clipPath>
                </defs>
            </svg>
        .section_projects__pages.pagination__pages 
            .section_projects__current_pages.pagination__current_pages 01
            .section_projects__all_pages.pagination__all_pages 
                span з 
                span.all_pages 59 
                span сторінок
        .section_projects__pagination_arrow_right.pagination_arrow
            <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="76" height="68" viewBox="0 0 76 68" fill="none">
                <path d="M53.2715 0.499998L22.7402 0.499995C20.2045 0.499995 17.904 1.84928 16.6357 3.9121L1.37695 30.4717C0.192661 32.6113 0.196079 35.3052 1.45898 37.4385L1.46191 37.4434L16.7246 64.0098C17.9949 66.1556 20.2944 67.5 22.7402 67.5L53.2715 67.5C55.6409 67.4999 57.7364 66.321 59.0371 64.4033L59.2861 64.0098L74.5488 37.4434L74.5518 37.4385L74.667 37.2363C75.8147 35.1404 75.7762 32.6298 74.5518 30.5615L74.5488 30.5566L59.2861 3.99023C58.0159 1.84453 55.7172 0.500138 53.2715 0.499998Z" stroke="#F4F5F9" stroke-opacity="0.4"/>
            </svg>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none">
                <g clip-path="url(#clip0_789_9082)">
                    <path d="M30.5 9L0.5 9M30.5 9L23.075 17M30.5 9L26.7875 5L23.075 1" stroke="#F4F5F9" stroke-width="3"/>
                </g>
                <defs>
                    <clipPath id="clip0_789_9082">
                    <rect width="18" height="33" fill="white" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 33.5 18)"/>
                    </clipPath>
                </defs>
            </svg>