section.section_top_subpage 
    img.section_top_subpage__bg(src=img_bg alt="background")
    .section_top_subpage__title.section_title=page_title
    .section_top_subpage__top_left
        .section_top_subpage__top_left_decor 
            <svg xmlns="http://www.w3.org/2000/svg" width="320" height="387" viewBox="0 0 320 387" fill="none">
                <path d="M320 155.619C320 185.101 304.207 211.819 280.052 226.56L-0.000138977 386.277L-0.00012207 -0.500006L320 -0.499992L320 155.619Z" fill="#6858CF"/>
            </svg>
    .section_top_subpage__bottom_right
        .section_top_subpage__bottom_right_decor 
            <svg xmlns="http://www.w3.org/2000/svg" width="320" height="387" viewBox="0 0 320 387" fill="none">
                <path d="M1.8617e-06 231.381C2.21327e-06 201.899 15.7934 175.181 39.948 160.44L320 0.72324L320 387.5L0 387.5L1.8617e-06 231.381Z" fill="#51C2FB"/>
            </svg>
    .section_top_subpage__breadcrumbs
        .breadcrumbs_wrapper
            a(href="/") Головна
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M9.87582 4.5L7.86718 0.983146C7.68863 0.691011 7.36502 0.5 7.00793 0.5H2.99064C2.64471 0.5 2.3211 0.691011 2.14255 0.994382L0.133909 4.51124C-0.0446365 4.81461 -0.0446365 5.18539 0.133909 5.48876L2.14255 9.00562C2.3211 9.30899 2.63355 9.5 2.99064 9.5H7.00793C7.35386 9.5 7.67747 9.30899 7.85602 9.00562L9.86466 5.48876C10.0432 5.18539 10.0432 4.80337 9.87582 4.5Z" fill="#F4F5F9"/>
            </svg>
            span=page_title
                    