<section class="section_view section_style content"> 
    <div class="section_view__wrapper">
        <div class="section_view__inside_wrapper">
            button.brend_btn(id="loadIframeButton")
                span(data-title="Завантажити тур") Завантажити тур
            <div class="iframe-container" id="iframeWrapper">
                img(src="../../assets/images/father/bg.jpg")
                <iframe  id="lazyIframe" loading="lazy" allowfullscreen data-src="https://v3.vrnet.io/?lscene=ua/riel/bigben/ext">
                </iframe>
            </div>
        </div>
    </div>
</section>