section.section_style.section_hot_deals.section_next(data-project="Ріел Сіті")
    .content 
        .section_title.section_hot_deals__title 
            span=title_for_flats_list
            .swiper_navigation
                .swiper_navigation__left 
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="18" viewBox="0 0 33 18" fill="none">
                        <path d="M2.5 9L32.5 9M2.5 9L9.925 1M2.5 9L6.2125 13L9.925 17" stroke="#1D3541" stroke-width="3"/>
                    </svg>
                .swiper_navigation__right
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none">
                        <g clip-path="url(#clip0_789_8771)">
                            <path d="M30.5 9L0.499999 8.99999M30.5 9L23.075 17M30.5 9L26.7875 5L23.075 0.999999" stroke="#1D3541" stroke-width="3"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_789_8771">
                            <rect width="18" height="33" fill="white" transform="matrix(1.62921e-07 -1 -1 -1.62921e-07 33.5 18)"/>
                            </clipPath>
                        </defs>
                    </svg>
        .section_hot_deals__wrapper
            .swiper 
                .swiper-wrapper 
                    
