section.section_style.section_btn_projects.section_for_btn 
    .section_for_btn__wrapper 
        .section_for_btn__left_img
            img(src="../../assets/images/bg/bg_section_btn_projects_left.jpg")
        .section_for_btn__right_img
            img(src="../../assets/images/bg/bg_section_btn_projects_right.jpg")
        .section_for_btn__button
            a(href="/projects.html").brend_btn
                        span(data-title="Дивитися усі проєкти") Дивитися усі проєкти
        .section_for_btn__top_left
            .section_for_btn__top_left_decor 
                <svg xmlns="http://www.w3.org/2000/svg" width="480" height="381" viewBox="0 0 480 381" fill="none">
                    <path d="M467.793 -12.7778L270.344 333.437C252.793 362.196 220.981 381 185.879 381H-209.02C-243.025 381 -274.836 362.196 -292.387 332.331L-489.837 -13.8839C-507.388 -43.7491 -507.388 -80.2509 -489.837 -110.116L-292.387 -456.331C-274.836 -486.196 -244.122 -505 -209.02 -505H185.879C219.884 -505 251.696 -486.196 269.247 -456.331L466.696 -110.116C484.247 -80.2509 484.247 -42.6429 467.793 -12.7778Z" fill="#51C2FB"/>
                </svg>
            .section_for_btn__top_left_text будуємо не<br>лише метри,
        .section_for_btn__bottom_right
            .section_for_btn__bottom_right_decor 
                <svg xmlns="http://www.w3.org/2000/svg" width="480" height="381" viewBox="0 0 480 381" fill="none">
                    <path d="M12.2068 393.778L209.656 47.563C227.207 18.804 259.019 0 294.121 0H689.02C723.025 0 754.836 18.804 772.387 48.6692L969.837 394.884C987.388 424.749 987.388 461.251 969.837 491.116L772.387 837.331C754.836 867.196 724.122 886 689.02 886H294.121C260.116 886 228.304 867.196 210.753 837.331L13.3037 491.116C-4.24731 461.251 -4.24731 423.643 12.2068 393.778Z" fill="#6858CF"/>
                </svg>
            .section_for_btn__bottom_right_text а життєвий<br>простір
