section.section_flat_details
    .content 
        .section_flat_details__wrapper 
            a(href="./flats.html").section_flat_details__back 
                .section_flat_details__back_arrow 
                    <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 36 32" fill="none">
                        <path d="M25.2334 0.5H10.7715C9.73157 0.5 8.78241 1.0158 8.21191 1.81738L8.10352 1.98145L0.879883 14.4727C0.365936 15.3982 0.369305 16.5622 0.916992 17.4814L0.919922 17.4873L8.15137 29.9922C8.70751 30.9208 9.71003 31.5 10.7715 31.5H25.2334C26.3318 31.5 27.2959 30.9235 27.8535 29.9922L35.085 17.4873L35.0889 17.4814C35.6372 16.5608 35.6372 15.4392 35.0889 14.5186H35.0879L35.085 14.5127L27.8535 2.00781L27.8545 2.00684C27.2983 1.07846 26.2947 0.5 25.2334 0.5Z" stroke="#F4F5F9" stroke-opacity="0.4"/>
                    </svg>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M1 6.33333L12.3333 6.33333M1 6.33333L5.95 11.6667M1 6.33333L3.475 3.66667L5.95 1" stroke="#F4F5F9"/>
                    </svg>   
                .section_flat_details__back_text Назад
            .section_flat_details__title 
                div 
                    span.section_flat_details__title_number № 77
                    span.inter /
                    span.section_flat_details__title_rooms 2-К
                    span.inter /
                    span.section_flat_details__title_size 247.4 м2
                <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_789_9602)">
                    <path d="M0.447044 14.2222L7.67815 1.71785C8.32092 0.679151 9.48593 0 10.7715 0H25.2337C26.479 0 27.644 0.679151 28.2868 1.7578L35.5179 14.2622C36.1607 15.3408 36.1607 16.6592 35.5179 17.7378L28.2868 30.2422C27.644 31.3208 26.5192 32 25.2337 32H10.7715C9.5261 32 8.36109 31.3208 7.71832 30.2422L0.487213 17.7378C-0.155552 16.6592 -0.155548 15.3009 0.447044 14.2222Z" fill="#F4F5F9" fill-opacity="0.4"/>
                    <path d="M25.2334 0.5H10.7715C9.73157 0.5 8.78241 1.0158 8.21191 1.81738L8.10352 1.98145L0.879883 14.4727C0.365936 15.3982 0.369305 16.5622 0.916992 17.4814L0.919922 17.4873L8.15137 29.9922C8.70751 30.9208 9.71003 31.5 10.7715 31.5H25.2334C26.3318 31.5 27.2959 30.9235 27.8535 29.9922L35.085 17.4873L35.0889 17.4814C35.6372 16.5608 35.6372 15.4392 35.0889 14.5186H35.0879L35.085 14.5127L27.8535 2.00781L27.8545 2.00684C27.2983 1.07846 26.2947 0.5 25.2334 0.5Z" stroke="#F4F5F9" stroke-opacity="0.1"/>
                    <path d="M18.001 8C20.6407 8 22.9785 9.66034 22.9785 12.8301C22.9785 13.4942 22.6272 14.4656 22.4512 14.8682L18.001 24L13.5508 14.8682C13.3748 14.4656 13.0234 13.4942 13.0234 12.8301C13.0235 9.66034 15.3613 8 18.001 8ZM18.001 10.8438C16.8228 10.8438 15.8672 11.7993 15.8672 12.9775C15.8674 14.1555 16.8229 15.1104 18.001 15.1104C19.1788 15.1101 20.1335 14.1554 20.1338 12.9775C20.1338 11.7995 19.179 10.844 18.001 10.8438Z" fill="#F4F5F9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_789_9602">
                    <rect width="36" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            .section_flat_details__center
                .section_flat_details__center_title 
                    span.unit-number 
                    span.inter /
                    span.unit-room 
                    span.inter /
                    span.unit-size 
                .section_flat_details__center_tabs 
                    .section_flat_details__center_wrapper_for_img
                        .wrapper_for_img(id="planning")
                            img( src="../../assets/images/no_img.jpg") 
                        .wrapper_for_img(id="main")
                            img(  src="../../assets/images/no_img.jpg") 
                        .wrapper_for_img(id="floor")
                            img(  src="../../assets/images/no_img.jpg") 
                    .section_flat_details__center_wrapper_for_btn 
                        button(data-id="planning") Планування
                        button.active(data-id="main") Презентація
                        button(data-id="floor") На поверсі
            .section_flat_details__flat_info
                a.unit-location(href="" target="_blank")
                    <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_789_9602)">
                        <path d="M0.447044 14.2222L7.67815 1.71785C8.32092 0.679151 9.48593 0 10.7715 0H25.2337C26.479 0 27.644 0.679151 28.2868 1.7578L35.5179 14.2622C36.1607 15.3408 36.1607 16.6592 35.5179 17.7378L28.2868 30.2422C27.644 31.3208 26.5192 32 25.2337 32H10.7715C9.5261 32 8.36109 31.3208 7.71832 30.2422L0.487213 17.7378C-0.155552 16.6592 -0.155548 15.3009 0.447044 14.2222Z" fill="#F4F5F9" fill-opacity="0.4"/>
                        <path d="M25.2334 0.5H10.7715C9.73157 0.5 8.78241 1.0158 8.21191 1.81738L8.10352 1.98145L0.879883 14.4727C0.365936 15.3982 0.369305 16.5622 0.916992 17.4814L0.919922 17.4873L8.15137 29.9922C8.70751 30.9208 9.71003 31.5 10.7715 31.5H25.2334C26.3318 31.5 27.2959 30.9235 27.8535 29.9922L35.085 17.4873L35.0889 17.4814C35.6372 16.5608 35.6372 15.4392 35.0889 14.5186H35.0879L35.085 14.5127L27.8535 2.00781L27.8545 2.00684C27.2983 1.07846 26.2947 0.5 25.2334 0.5Z" stroke="#F4F5F9" stroke-opacity="0.1"/>
                        <path d="M18.001 8C20.6407 8 22.9785 9.66034 22.9785 12.8301C22.9785 13.4942 22.6272 14.4656 22.4512 14.8682L18.001 24L13.5508 14.8682C13.3748 14.4656 13.0234 13.4942 13.0234 12.8301C13.0235 9.66034 15.3613 8 18.001 8ZM18.001 10.8438C16.8228 10.8438 15.8672 11.7993 15.8672 12.9775C15.8674 14.1555 16.8229 15.1104 18.001 15.1104C19.1788 15.1101 20.1335 14.1554 20.1338 12.9775C20.1338 11.7995 19.179 10.844 18.001 10.8438Z" fill="#F4F5F9"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_789_9602">
                        <rect width="36" height="32" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .flat_info__top 
                    span Житловий комплекс:
                    a.unit-complex(target="_blank" href="")
                .flat_info__second 
                    //- div 
                    //-     span Черга: 
                    //-     span 3
                    div 
                        span Секція:
                        span.unit-section
                    div 
                        span Поверх: 
                        span.unit-floor
                .flat_info__center 
                    //- div 
                    //-     span Готовність об’єкту:
                    //-     span 4 кв. 2024 р.
                    div 
                        span Номер:
                        span.unit-number
                    div 
                        span Загальна площа:
                        span.unit-size
                .flat_info__price 
                    div 
                        span Повна ціна:
                        span.full-price
                    div 
                        span Ціна за м²:
                        span.m-price
                    p *Ціна без урахування акційних пропозицій
                .flat_info__buttons 
                    .brend_btn
                        span(data-title="Замовити дзвінок") Замовити дзвінок
                    .brend_btn
                        span(data-title="Забронювати консультацію") Забронювати консультацію
            .flat_info__buttons_bottom
                    .brend_btn
                        span(data-title="Замовити дзвінок") Замовити дзвінок
                    .brend_btn
                        span(data-title="Забронювати консультацію") Забронювати консультацію
