section.section_style.section_video
    .content 
        .section_video__left 
            .section_video__logo 
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="90" viewBox="0 0 100 90" fill="none">
                    <path d="M98.7582 40L78.6718 4.83146C76.8863 1.91011 73.6502 0 70.0793 0H29.9064C26.4471 0 23.211 1.91011 21.4255 4.94382L1.33909 40.1124C-0.446365 43.1461 -0.446365 46.8539 1.33909 49.8876L21.4255 85.0562C23.211 88.0899 26.3355 90 29.9064 90H70.0793C73.5386 90 76.7747 88.0899 78.5602 85.0562L98.6466 49.8876C100.432 46.8539 100.432 43.0337 98.7582 40Z" fill="#F4F5F9"/>
                    <path d="M33.4772 44.8317V40.7868H39.1683C40.5074 40.7868 41.4001 41.5733 41.4001 42.8093C41.4001 44.1576 40.619 44.8317 39.1683 44.8317H33.4772ZM33.4772 52.4722V47.9778H39.2799C42.6276 47.9778 44.9711 45.7306 44.9711 42.6969C44.9711 39.5508 42.7392 37.416 39.2799 37.416H29.9062V52.4722H33.4772Z" fill="#1D3541"/>
                    <path d="M50.6623 37.416H47.2029V52.4722H50.6623V37.416Z" fill="#1D3541"/>
                    <path d="M53.5638 52.4722H66.7316V49.1014H57.1347V46.5171H64.8345V43.2587H57.1347V40.7868H66.62V37.416H53.5638V52.4722Z" fill="#1D3541"/>
                    <path d="M81.573 52.4722H85.0323V37.416H71.3066V47.6407C71.3066 48.8767 70.9718 49.2138 69.8559 49.2138H68.5168V52.5846H70.7486C73.5384 52.5846 74.7659 50.8992 74.7659 47.6407V40.7868H81.4614V52.4722H81.573Z" fill="#1D3541"/>
                </svg>
            .section_video__content 
                .section_video__title Ми віримо, що справжній девелопер – це не про обіцянки, а про довіру.
                .section_video__text
                    p Понад 1 мільйон квадратних метрів житлової та комерційної нерухомості, створених компанією, вже стали частиною міського середовища. Більше ніж 100 завершених об’єктів – результат системного підходу, досвіду та стабільної роботи.
                    p Наше натхнення — саме місто: його ритм, динаміка і люди, які наповнюють його життям. Ми віримо, що справжній комфорт — це не показна розкіш, а якість простору, світла, повітря.
                .section_video__button 
                    a(href="/projects").brend_btn
                        span(data-title="Переглянути нерухомість") Переглянути нерухомість
        .section_video__right
            .video-wrapper
                video.video-element(controls=false, preload="metadata" )
                    source(src="../../assets/videos/video.mp4", type="video/mp4")
                button.play-button(type="button")
                    .play-icon 
                        <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="100" height="90" viewBox="0 0 100 90" fill="none">
                            <path d="M98.7582 40L78.6718 4.83146C76.8863 1.91011 73.6502 0 70.0793 0H29.9064C26.4471 0 23.211 1.91011 21.4255 4.94382L1.33909 40.1124C-0.446365 43.1461 -0.446365 46.8539 1.33909 49.8876L21.4255 85.0562C23.211 88.0899 26.3355 90 29.9064 90H70.0793C73.5386 90 76.7747 88.0899 78.5602 85.0562L98.6466 49.8876C100.432 46.8539 100.432 43.0337 98.7582 40Z" fill="#F4F5F9"/>
                        </svg>
                        <svg class="play" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M28.341 19.569L14.0242 27.876C12.8092 28.5803 11.25 27.7275 11.25 26.3078V9.69378C11.25 8.27628 12.807 7.42128 14.0242 8.12778L28.341 16.4348C28.6174 16.5926 28.8471 16.8206 29.0069 17.0958C29.1667 17.3711 29.2509 17.6837 29.2509 18.0019C29.2509 18.3202 29.1667 18.6327 29.0069 18.908C28.8471 19.1832 28.6174 19.4113 28.341 19.569Z" fill="#1D3541"/>
                        </svg>
                buttom.stop-button(type="button")
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <path d="M1.40234 0.583008L6.83984 6.11523L12.2148 0.64746L13.6172 2.07422L8.24219 7.54199L13.6172 13.0088L12.2148 14.4355L6.83984 8.96875L1.40234 14.5L-6.23229e-08 13.0742L5.4375 7.54199L-5.46008e-07 2.00879L1.40234 0.583008Z" fill="#F4F5F9"/>
                    </svg>