section.section_top 
    img.bg(src="../../assets/images/top_section/bg.jpg" alt="background" loading="lazy")
    .section_top__top_right 
        div 
            span Квартири від грн м²
            span 48 000
        <svg  class="top-right-decor" xmlns="http://www.w3.org/2000/svg" width="461" height="381" viewBox="0 0 461 381" fill="none">
            <path d="M275.121 381C240.019 381 208.207 362.196 190.656 333.437L0.494113 -4.02587e-05L461 0L461 381L275.121 381Z" fill="#FB5238"/>
        </svg>
    .section_top__bottom_left 
        .section_top__bottom_left_wrapper
            span Riel
            .arrow_down 
                .arrow_down__wrapper
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M7.33333 12L7.33333 0.666668M7.33333 12L12.6667 7.05M7.33333 12L4.66667 9.525L2 7.05" stroke="#F4F5F9"/>
                </svg>  
                div Гортай
        <svg class="bottom-left-decor" xmlns="http://www.w3.org/2000/svg" width="461" height="381" viewBox="0 0 461 381" fill="none">
            <path d="M185.879 0C220.981 0 252.793 18.804 270.344 47.563L460.506 381H0V0H185.879Z" fill="#FB9046"/>
        </svg>
    .section_top__top_left Будуємо<br>системно — 
    .section_top__bottom_right Добудовуємо<br>завжди
    .section_top__bottom_right_mob 
        span Квартири від грн м²
        span 48 000

