section.section_gallery.section_style
    .swiper 
        .swiper-wrapper 
            each i in [...Array(10).keys()]
                .swiper-slide
                    img(src="../../assets/images/gallery/img.jpg" alt="gallery")
    .section_gallery__arrow_left.pagination_arrow
        <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="76" height="68" viewBox="0 0 76 68" fill="none">
            <path d="M53.2715 0.499998L22.7402 0.499995C20.2045 0.499995 17.904 1.84928 16.6357 3.9121L1.37695 30.4717C0.192661 32.6113 0.196079 35.3052 1.45898 37.4385L1.46191 37.4434L16.7246 64.0098C17.9949 66.1556 20.2944 67.5 22.7402 67.5L53.2715 67.5C55.6409 67.4999 57.7364 66.321 59.0371 64.4033L59.2861 64.0098L74.5488 37.4434L74.5518 37.4385L74.667 37.2363C75.8147 35.1404 75.7762 32.6298 74.5518 30.5615L74.5488 30.5566L59.2861 3.99023C58.0159 1.84453 55.7172 0.500138 53.2715 0.499998Z" stroke="#F4F5F9" stroke-opacity="0.4"/>
        </svg>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none">
            <g clip-path="url(#clip0_789_9074)">
                <path d="M3.5 9L33.5 9M3.5 9L10.925 1M3.5 9L7.2125 13L10.925 17" stroke="#1d3541" stroke-width="3"/>
            </g>
            <defs>
                <clipPath id="clip0_789_9074">
                <rect width="18" height="33" fill="white" transform="matrix(1.19249e-08 1 1 -1.19249e-08 0.5 0)"/>
                </clipPath>
            </defs>
        </svg>
    .section_gallery__arrow_right.pagination_arrow
        <svg class="bg" xmlns="http://www.w3.org/2000/svg" width="76" height="68" viewBox="0 0 76 68" fill="none">
            <path d="M53.2715 0.499998L22.7402 0.499995C20.2045 0.499995 17.904 1.84928 16.6357 3.9121L1.37695 30.4717C0.192661 32.6113 0.196079 35.3052 1.45898 37.4385L1.46191 37.4434L16.7246 64.0098C17.9949 66.1556 20.2944 67.5 22.7402 67.5L53.2715 67.5C55.6409 67.4999 57.7364 66.321 59.0371 64.4033L59.2861 64.0098L74.5488 37.4434L74.5518 37.4385L74.667 37.2363C75.8147 35.1404 75.7762 32.6298 74.5518 30.5615L74.5488 30.5566L59.2861 3.99023C58.0159 1.84453 55.7172 0.500138 53.2715 0.499998Z" stroke="#F4F5F9" stroke-opacity="0.4"/>
        </svg>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none">
            <g clip-path="url(#clip0_789_9082)">
                <path d="M30.5 9L0.5 9M30.5 9L23.075 17M30.5 9L26.7875 5L23.075 1" stroke="#1d3541" stroke-width="3"/>
            </g>
            <defs>
                <clipPath id="clip0_789_9082">
                <rect width="18" height="33" fill="white" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 33.5 18)"/>
                </clipPath>
            </defs>
        </svg>