extends ../layout/main
block variable
  -
    var title_page = 'flats'
    var id_page = 'id-page-flats'
    var class_page = 'page-template-flats'
    var page_title = "Квартири"
    var img_bg = "../../assets/images/bg/top_bg_flats.jpg"
    
block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
   include ../includes/section_top_subpage.pug
    - var page_title = page_title
    - var img_bg = img_bg
  
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug