.header {
  position: fixed;
  z-index: 100;
  top: 0;
  background: linear-gradient(180deg, rgba(7, 7, 11, 0.9) 0.63%, rgba(7, 7, 11, 0) 100%);
  transition: transform 0.4s ease-in-out;

  display: flex;
  align-items: center;
  width: 100%;
  height: 108px;
  font-size: max(16px, 1.04px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.2px;
  color: $brend-white;
  // overflow: hidden;
  font-family: $default-font;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    height: 100px;
  }
  @media (max-width: 480px) {
    height: 64px;
    font-size: 16px;
    letter-spacing: -0.96px;
  }
  &__projects {
    @media (max-width: 700px) {
      display: none !important;
    }
  }
  .content {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    @media (max-width: 768px) {
      padding: 0 32px;
    }
    @media (max-width: 480px) {
      padding: 0 16px;
    }
  }
  .header__logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    svg {
      width: 76px;
      height: 68px;
      overflow: hidden;
      path {
        transition: fill 0.9s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    span {
      color: $brend-white;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.84px;
      text-transform: uppercase;
    }
    @media (max-width: 480px) {
      svg {
        width: 46px;
        height: 40px;
      }
    }
  }
  .header__logo:hover {
    svg {
      .r {
        animation: animateLetter 1s ease-out forwards;
        animation-iteration-count: 1;
      }
      .i {
        animation: animateLetter 1s ease-out forwards;
        animation-iteration-count: 1;
        animation-delay: 0.15s;
      }
      .e {
        animation: animateLetter 1s ease-out forwards;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
      }
      .l {
        animation: animateLetter 1s ease-out forwards;
        animation-iteration-count: 1;
        animation-delay: 0.45s;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 60px;
    @media (max-width: 1300px) {
      gap: 16px;
    }
    @media (max-width: 768px) {
      gap: 8px;
    }
  }
  &__btn_call {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: 1024px) {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
    }
    &:hover svg {
      animation: shake 0.5s 1 forwards;
    }
  }
  &__open_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    @media (max-width: 768px) {
      span {
        display: none;
      }
    }
    .wrapper_for_phone {
      display: none;
    }
    .wrapper_for_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
    }
    @media (max-width: 1024px) {
      .wrapper_for_phone {
        display: block;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .wrapper_for_arrow {
        display: none;
      }
    }
    @media (max-width: 768px) {
      .wrapper_for_phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 76px;
        height: 68px;
        background-image: url('../../assets/images/border.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    @media (max-width: 480px) {
      .wrapper_for_phone {
        width: 46px;
        height: 40px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    &:hover {
      .wrapper_for_arrow svg {
        animation: runRightArrow 1.5s ease-out infinite;
      }
    }
  }
  &__burger_menu {
    display: flex;
    align-items: center;
    gap: 14px;
    color: $brend-white;
    cursor: pointer;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 76px;
      height: 68px;
      background-image: url('../../assets/images/border.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media (max-width: 480px) {
      width: 46px;
      height: 40px;
    }
    div:first-child {
      font-size: 20px;
      font-weight: 600;
      line-height: 120%; /* 24px */
      letter-spacing: -1.2px;
      text-transform: uppercase;
      @media (max-width: 768px) {
        display: none;
      }
    }
    div:last-child {
      position: relative;
      display: block;
      width: 18px;
      height: 12px;
      cursor: pointer;
      @media (max-width: 480px) {
        width: 12px;
        height: 10px;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $brend-white;
        transition: 0.25s ease-out;
      }
      span:first-child {
        width: 80%;
        top: 0;
        transform: translateY(0);
      }
      span:last-child {
        width: 60%;
        top: auto;
        bottom: 0;
        transform: translateY(0);
      }
    }
  }
  &__burger_menu:hover {
    div:last-child {
      span:first-child {
        width: 100%;
      }
      span:last-child {
        width: 100%;
      }
    }
  }
  &__cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .mob {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 76px;
        height: 68px;
      }
      @media (max-width: 480px) {
        width: 46px;
        height: 40px;
      }
    }
  }
}
.header-bg {
  background-color: $white;
}
.anim_content {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.anim_content_1 {
  transition: 0.25s ease-out;
}
.anim_content_2 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateY(-115%);
  transition: 0.25s ease-out;
  line-height: 100%;
}
@media (min-width: 1024px) {
  .anim_content:hover {
    .anim_content_1 {
      transform: translateY(101%);
    }
    .anim_content_2 {
      transform: translateY(0);
    }
  }
}
@keyframes animateLetter {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(40px);
  }
  21% {
    transform: translateY(-40px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-2px) rotate(-5deg);
    transform: translateX(-2px) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(1px) rotate(5deg);
    transform: translateX(1px) rotate(5deg);
  }

  45% {
    -webkit-transform: translateX(-1px) rotate(-2.7777777778deg);
    transform: translateX(-1px) rotate(-2.7777777778deg);
  }

  60% {
    -webkit-transform: translateX(0.6060606061px) rotate(1.6666666667deg);
    transform: translateX(0.6060606061px) rotate(1.6666666667deg);
  }

  75% {
    -webkit-transform: translateX(-0.3636363636px) rotate(-1deg);
    transform: translateX(-0.3636363636px) rotate(-1deg);
  }
}
.header.active-menu .menu_background {
  opacity: 0.8;
  visibility: visible;
}
.header.active-menu {
  transform: none !important;
  .header__logo {
    svg path {
      fill: $brend-white;
    }
    svg {
      .r,
      .i,
      .e,
      .l {
        fill: $brend-dark;
      }
    }
  }
  .header__burger_menu {
    div:last-child {
      span {
        transform: scale(0);
      }
      span:first-child {
        top: 5px;
        width: 100%;
        transform: rotate(-45deg) translateY(0);
      }
      span:last-child {
        top: 5px;
        width: 100%;
        transform: rotate(45deg) translateY(0);
      }
    }
  }
  .menu {
    transform: translateX(0);
    pointer-events: auto;
  }
}
.menu_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 110);
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s linear;
}
.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 430px;
  padding-top: 108px;
  height: calc(var(--vh, 1vh) * 100);
  background: $brend-dark;
  transform: translateX(100%);
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: none;
  @media (max-width: 1300px) {
    width: 385px;
  }
  @media (max-width: 1024px) {
    width: 100vw;
  }
  @media (max-width: 768px) {
    padding-top: 100px;
  }
  @media (max-width: 480px) {
    padding-top: 64px;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 40px;
      li {
        width: 100%;
      }
      a {
        position: relative;
        display: flex;
        gap: 8px;
        width: 100%;
        padding: 6px 0;
        overflow: hidden;
        font-size: 56px;
        line-height: 90%;
        letter-spacing: -3.36px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0);
        cursor: pointer;
        @media (max-width: 480px) {
          gap: 4px;
          font-size: 32px;
          line-height: 90%;
          letter-spacing: -1.92px;
        }
        span {
          width: 100%;
          color: $brend-white;
          @media (max-width: 1024px) {
            text-align: center;
          }
        }
      }
    }
  }
  &__wrapper_social {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 40px;
    @media (max-width: 1024px) {
      margin-bottom: 84px;
    }
  }
  &__wrapper_icons_title {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.84px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      text-align: center;
    }
    @media (max-width: 480px) {
      font-size: 12px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.72px;
    }
  }
  &__wrapper_icons {
    display: flex;
    align-items: center;
    justify-content: start;
    @media (max-width: 1024px) {
      justify-content: center;
    }
  }
  &__wrapper_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    .social_icon {
      position: relative;
      z-index: 1;
      width: 16px;
      height: 16px;
      path {
        transition: 0.5s ease-out;
      }
    }
    .bg_for_icon {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      path {
        transition: 0.5s ease-out;
      }
    }
  }
  &__wrapper_icon:hover {
    .social_icon path {
      fill: $brend-white;
    }
    .social_icon .hover-dark {
      fill: $brend-dark;
    }
    .bg_for_icon path {
      fill: $brend-white;
    }
  }
  &__bottom {
    position: relative;
    display: none;
    flex-direction: column;
    @media (max-width: 1024px) {
      display: flex;
    }
    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__bottom_title {
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -3.36px;
    color: $brend-white;
    @media (max-width: 480px) {
      font-size: 32px;
      line-height: 90%;
      letter-spacing: -1.92px;
    }
  }
  &__bottom_subtitle {
    position: relative;
    z-index: 1;
    margin-bottom: 170px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.2px;
    @media (max-width: 480px) {
      font-size: 12px;
      line-height: 120%;
      letter-spacing: -0.72px;
    }
  }
  &__bottom_btn {
    margin-bottom: 32px;
    .brend_btn {
      margin: 0 auto;
    }
  }
}
.connect_popup {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 40px;
  background: linear-gradient(
    to top,
    rgba(10, 15, 19, 1),
    rgba(10, 15, 19, 0.8),
    rgba(10, 15, 19, 0)
  );
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 768px) {
    padding: 32px;
  }
  @media (max-width: 480px) {
    padding: 16px;
  }
  .brend_btn {
    width: calc(100% - 80px);
    @media (max-width: 480px) {
      width: calc(100% - 44px);
    }
  }
  &__close {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 68px;
    @include text-20;
    @media (max-width: 480px) {
      height: 40px;
      @include text-16;
    }
    svg {
      @media (max-width: 480px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header.active-menu .header_bg_for_menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: calc(100% - 12px);
    height: 72px;
    background: $white;
  }
}
@keyframes runRightArrow {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(30px);
  }
  71% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes runLeftArrow {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-30px);
  }
  71% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-widget {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  @include tablet {
    right: 80px;
    bottom: 120px;
  }
}

/* ==== головна кнопка ==== */
.main-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #86c44a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: visible;
  @include tablet {
    width: 62px;
    height: 62px;
  }
}

/* ripple-анімація */
.main-btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(134, 196, 74, 0.5);
  animation: ripple 2.5s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* іконки */
.icon {
  position: absolute;
  width: 30px;
  // max-height: 30px;
  opacity: 0;
  transition: opacity 1s;
  @include tablet {
    width: 50px;
  }
  path {
    fill: $wc;
  }
}
.icon.active {
  opacity: 1;
}

/* ==== кнопки соцмереж ==== */
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  @include tablet {
    bottom: 70px;
  }
}

.social-links.open {
  opacity: 1;
  pointer-events: auto;
}

.social-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #86c44a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
  &.social-btn--blue {
    background-color: #5db7e7;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #1c78a9;
    }
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
  @include tablet {
    width: 62px;
    height: 62px;
  }
  svg {
    width: 30px;
    transition: opacity 1s, transform 0.4s;
    @include tablet {
      width: 50px;
    }
    path {
      fill: $wc;
    }
  }
}
.social-links.open .social-btn {
  transform: translateY(0);
}
.cart_popup.active {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}
.cart_popup {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  background: $brend-dark;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.6s ease;
  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 148px 40px 40px 40px;
    @media (max-width: 1300px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      padding: 120px 32px 32px 32px;
    }
    @media (max-width: 480px) {
      padding: 84px 16px 16px 16px;
    }
  }
  .back {
    display: flex;
    align-items: center;
    gap: 12px;
    width: min-content;
    margin-right: 40px;
    @include text-16;
    cursor: pointer;
    @media (max-width: 1300px) {
      width: 100%;
      margin-bottom: 48px;
    }
    @media (min-width: 1024px) {
      &:hover {
        .icon {
          animation: runLeftArrowBack 1.5s ease-out infinite;
        }
      }
    }
    @media (max-width: 768px) {
      @include text-14;
    }
  }
  .back__arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 32px;
    overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .icon {
      opacity: 1 !important;
      width: 14px;
      height: 14px;
    }
  }
  &__center.non_active {
    opacity: 0;
    visibility: hidden;
  }
  &__center {
    position: relative;
    display: flex;
    padding: max(24px, 2.08vw);
    padding-right: max(12px, 1.04vw);
    flex-direction: column;
    gap: 20px;
    width: 56.4vw;
    height: 100%;
    border: 1px solid rgba(244, 245, 249, 0.1);
    overflow: hidden;
    @media (max-width: 1300px) {
      width: 100%;
      bottom: 0;
    }
    .brend_btn {
      display: none;
      background: $brend-white;
      @media (max-width: 1300px) {
        display: block;
        min-height: 68px;
      }
      @media (max-width: 480px) {
        min-height: 40px;
      }
    }
    .brend_btn::before {
      background-image: url('../../assets/images/btn_decor_white.png');
    }
    .brend_btn::after {
      background-image: url('../../assets/images/btn_decor_white.png');
    }
  }
  .check {
    color: $brend-white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
    letter-spacing: -1.2px;
  }
  .wrapper_for_units {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding-right: max(12px, 1.04vw);
    overflow: auto;
  }
  .wrapper_for_units::-webkit-scrollbar {
    width: 4px;
  }
  .unit_card {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 28px max(24px, 2.08vw);
    border-radius: 24px;
    border: 1px solid rgba(244, 245, 249, 0.1);
    @media (max-width: 480px) {
      padding: 24px 16px;
      gap: 8px;
    }
    &__input {
      padding-top: 6px;
    }
    &__img {
      border-radius: 8px;
      overflow: hidden;
      @media (max-width: 768px) {
        display: none;
      }
      img {
        min-width: 100px;
        width: 100px;
        height: 100px;
      }
    }
    &__title {
      margin-bottom: 10px;
      @include text-36;
    }
    &__address {
      display: flex;
      align-items: center;
      gap: 4px;
      span {
        color: #829099;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 15.4px */
        letter-spacing: -0.84px;
        text-transform: uppercase;
      }
    }
    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__right_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include text-36;
      @media (max-width: 1500px) {
        justify-content: start;
        gap: 10px;
      }
      @media (max-width: 480px) {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -1.2px;
      }
      span:nth-child(3),
      span:nth-child(4) {
        width: 50%;
        color: $brend-green;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -1.2px;
      }
      .price.uah,
      .price.usd {
        width: 50%;
        color: $brend-green;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -1.2px;
      }
    }
    &__right_bottom {
      display: flex;
      gap: 8px;
      color: #829099;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 22.4px */
      letter-spacing: -0.96px;
    }
    &__delete {
      position: relative;
      cursor: pointer;
      div.active {
        opacity: 1;
        visibility: visible;
      }
      div {
        position: absolute;
        top: -10px;
        left: -134px;
        display: flex;
        width: 138px;
        height: 48;
        gap: 8px;
        padding: 12px;
        border-radius: 8px;
        background: $brend-white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease;
        span {
          color: $brend-dark;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: -0.96px;
        }
      }
    }
    &__info {
      flex: 1;
      display: flex;
      gap: 20px;
      @media (max-width: 1500px) {
        flex-wrap: wrap;
      }
      @media (max-width: 480px) {
        gap: 16px;
      }
    }
    &__center {
      width: 40%;
      @media (max-width: 1500px) {
        width: 100%;
      }
    }
  }
  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid var(--white, #fff);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
  }
  /* галочка */
  .checkbox::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    width: 12px;
    height: 6px;
    border-left: 3px solid #1d3541;
    border-bottom: 3px solid #1d3541;
    transform: rotate(-45deg);
    opacity: 0;
  }
  /* checked */
  .checkbox:checked::after {
    opacity: 1;
  }
  .checkbox:checked {
    background: $brend-green;
    border-color: $brend-green;
  }
  /* focus */
  .checkbox:focus-visible {
    outline: 2px solid #1d3541;
    outline-offset: 3px;
  }
  &__right.non_active {
    opacity: 0;
    visibility: hidden;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: max(24px, 2.08vw);
    padding-right: max(12px, 1.04vw);
    border: 1px solid rgba(244, 245, 249, 0.1);
    @media (max-width: 1300px) {
      position: absolute;
      top: 220px;
      left: 40px;
      right: 40px;
      bottom: 40px;
      margin: 0;
      background: $brend-dark;
    }
    @media (max-width: 768px) {
      top: 200px;
      left: 32px;
      right: 32px;
      bottom: 32px;
    }
    @media (max-width: 480px) {
      top: 160px;
      left: 16px;
      right: 16px;
      bottom: 16px;
    }
    h2 {
      color: $brend-white;
      font-size: 3.33vw;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.06em;
      @media (max-width: 480px) {
        font-size: 36px;
        letter-spacing: -2.16px;
      }
    }
    form {
      // gap: 40px;
      width: 100%;
      height: 100%;
      padding-top: max(60px, 4.16vw);
      padding-right: max(12px, 1.04vw);
      overflow: auto;
      overflow-x: hidden;
      color: $brend-white !important;
      .star {
        opacity: 1 !important;
      }
      .form_item {
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(244, 245, 249, 0.1);
      }
      textarea {
        background: $brend-dark;
        color: $brend-white;
        width: 100% !important;
        height: 66px !important;
        padding: 22px 6px 22px 6px;
        border: none;
        &::-webkit-scrollbar {
          width: 4px;
        }
      }
    }
    form::-webkit-scrollbar {
      width: 4px;
    }
    .form_button {
      margin-top: max(60px, 4.16vw);
      min-height: 68px;
      @media (max-width: 480px) {
        min-height: 40px;
      }
    }
  }
}

.lang_wrapper {
  display: flex;
  gap: 10px;
  .lang {
    color: #829099;
    cursor: pointer;
  }
  .active {
    color: $white;
  }
}
